{% extends "base.html" %}

{% block content %}

<form action="/" method="get">
  <input type="text" name="q" />
  <input type="submit" value="Search" />
  <a href="" id="display-columns">Display Columns</a>
  <div id="select-columns">
    <h4>Select columns to display</h4>
    <input type="checkbox" name="amount" class="column-display" />Amount<br />
    <input type="checkbox" name="buyer" class="column-display" />Buyer<br />
    <input type="checkbox" name="supplier" class="column-display" />Supplier<br />
  </div>
</form>

{% include "export/results.html" %}

{% endblock %}
