body {
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 11px;
  text-align: center;
}

a {
  color: #5B80B2;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #000080;
}

#content, #header, #footer {
  margin: 0 auto;
  overflow: auto;
  text-align: left;
  width: auto;
}

/* Header */
#header h2 {
  width: 300px;
}

#header h2, #top-navigation {
  float: left;
  margin-top: 0;
}

#top-navigation a {
  background: grey;
  border: 1px solid black;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
  width: 10em;
}

#top-navigation a:hover {
  background: #DAA520;
}

